/**
 * Simple UI-Kit for RAD WebApp by @RenickB
 *
 * Image by Natalia Y, thanks!
 */
/*
 * Base
 */
html, body { height: 100%; }

html, body, #toolbar {
    background-color: #2F2F2F;
}

section.screen {
    display: none;
    height: 100%;
}

button.clickable:hover {
    cursor: pointer;
}

.hidden { display: none; }

.bg-very-dark {
    background-color: #212529;
}

/**
 * View: login
 */
.login .cr-container { animation-delay: 3s }

.login .cr {
    padding-top: .45rem;
    color: rgba(247, 247, 247, 0.79);
}

.login .cr .badge {
    margin-right: 10px;
}

.login .input-user {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login .input-pwd,
.login .input-group-btn > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-form {
    padding: .2rem .0rem .05rem .0rem;
    border-radius: .5rem;
    max-width: 650px;
}

.login .input-group .form-control {
    color: rgba(17, 33, 76, 0.8);
}

.login-form, .login-form .btn.clickable {
    background: rgba(17, 33, 76, 0.8);
}

.login-form h1 {
    font-size: 2em;
}

body.login {
    background: url("/ui/img/00-01.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/**
 * View: login
 */
.dashboard,
.dashboard > .row,
.dashboard > .row > div {
    height: 100%;
    overflow-x: hidden;
    padding-right: 0;
}

.dashboard .align-items-center {
    padding: 2rem;
}

.dashboard .topnav {
    margin: 2rem 0;
}

.dashboard .btn-group .btn {
    border-radius: 2rem;
}

/*
 * Viewport
 */
.viewport {
    padding: 1rem 0 5rem 0;
}
.viewport .room:hover {
    text-decoration: none;
    color: #000;
}

/*
 * Toolbar
 */

#toolbar a {
    color: #fff;
}

#toolbar a:hover {
    color: #d68300;
}

#toolbar a.disabled,
#toolbar a.disabled:hover {
    color: #ccc;
}

/*
 * Rooms
 */
.room {
    display: inline;
}

.rangepicker-group {
    background: rgba(255,255,255, 0.3);
    width: 150px;
    float:right;
    display: inline-block;
    margin-bottom: 3rem;
    color: #fff;
}

.rpGroup > input {
    border-right: none;
}

.rpGroup > span {
    border-left: none;
}

#rangepicker:active, #rangepicker:focus {
    background: #fff;
    color: #1b1e21;;
}

/*
 * Snackbar
 */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(244, 244, 244, 0.95);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 1rem;
    top: 1rem;
}

#snackbar.show {
    visibility: visible;
}

/*
 * Rooms
 */

.formCreateUser,
.formCreateRoom {
    display: block;
    position: relative;
}
