/*
 * Base
 */
html, body { height: 100% }
section.screen {
    display: none;
}

/**
 * View: login
 */
.login .cr {
    padding-top: 5px;
}

.login .cr .badge {
    margin-right: 15px;
}

.login h1 {
    padding: 6rem 0;
}

.login .input-user {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login .input-pwd,
.login .input-group-btn > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/**
 * View: login
 */
.dashboard,
.dashboard > .row,
.dashboard > .row > div {
    height: 100%;
    overflow-x: hidden;
    padding-right: 0;
}

.dashboard .align-items-center {
    padding: 2rem;
}

.dashboard .topnav {
    margin: 2rem 0;
}

.dashboard .btn-group .btn {
    border-radius: 2rem;
}

/*
 * Viewport
 */
.viewport {
    padding: 3rem;
}
.viewport .room:hover {
    text-decoration: none;
    color: #000;
}

/*
 * Rooms
 */
.room {
    display: inline;
}